
<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= month_calendar events: @shifts do |date, shifts| %>
        <%= date.strftime("%d") %>

        <% shifts.each do |shift| %>

            <div class='shift-event shift-event-<%= shift.id %>' data-id='<%= shift.id %>'>
              <%= shift.worker.first_name %> <%= shift.worker.last_name %>

              <%= render 'workers/dialog', shift: shift %>
            </div>

        <% end %>
      <% end %>
      <button class='btn btn-primary'><%= link_to 'New Shift', new_shift_path %></button>
    </div>
  </div>
</div>
