<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="calendar-esante">
        <%= link_to new_shift_path do %>
          <%= icon('plus', class: 'add-shift-big') %>
        <% end %>

        <%= month_calendar events: @shifts do |date, shifts| %>

          <%= date.strftime("%d") %>

          <% if !@shifts_date.include?(date) %>
            <%= link_to new_shift_path(:shift => { :start_date => date }) do %>
              <div class="add-shift"></div>
            <% end %>
          <% end %>



          <% shifts.each do |shift| %>
              <div id='shift-event' class='shift-event shift-event-<%= shift.id %>' data-id='<%= shift.id %>'>
                <%= shift.worker.first_name %> <%= shift.worker.last_name %>

                <%= render 'workers/dialog', shift: shift %>
              </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
