<div class="dialog-container dialog-container-<%= shift.id %> hide">
  <div class='dialog-title'>
    <h1><%= shift.start_date.strftime("%B %d, %y") %></h1>
    <span class="close"></span>
    <%= icon('times', class: 'close-icon') %>

    <%= link_to shift, method: :delete do %>
      <%= icon('trash', class: 'delete-icon') %>
    <% end %>

    <%= link_to edit_shift_path(shift) do %>
        <%= icon('pencil', class: 'edit-shift') %>
    <% end%>
  </div>
  <div class="dialog-content">
    <p>Firstname: <span><%= shift.worker.first_name %></span></p>
    <p>Lastname: <span><%= shift.worker.last_name %></span></p>
    <p>Status: <span><%= shift.worker.status %></span></p>
  </div>
</div>
